<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>List of Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2> List of tasks</h2>
        <ion-list [inset]="true">
          <ion-item>
            <ion-label>Task 1</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Task 2</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Task 3</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Task 4</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Task 5</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- 
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="seeTaskList()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
   -->
</ion-content>
